@import "fonts.css";
@import "all.css";
@import "reset.css";


body, html {
    background-color: #eeeeed;
}


/*------------HEADER----------*/

.header-wrap {
    background-color: #008daa;
    height: 100px;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.4);
    }

.header__row-col-link {
    color: #d4d0c8;
    font-family: "robotoregular", sans-serif;
    font-size: 24px;
    margin-left: 60px;
}

.header__row-col-social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-right: 64px;
}

.header__row-col-link:hover, .header__row-col-link:visited, .header__row-col-social li:hover a, .header__row-col-social li:visited a {
    color: #eeeeed;
}

.header__row-col-social li:hover {
	    border: 2px solid #eeeeed;
}

.header__row-col-social li {
    border: 2px solid #d4d0c8;
    border-radius: 5px;
    width: 30px;
    height: 30px;
}

.header__row-col-social li a {
    color: #d4d0c8;
}

.header__row-col-social li:nth-child(1) a, .header__row-col-social li:nth-child(2) a {
    font-size: 20px;
    }

.header__row-col-social li:nth-child(3) a, .header__row-col-social li:nth-child(4) a {
    font-size: 29px;
    border: none;
    }

.header__row-col-social li:nth-child(3), .header__row-col-social li:nth-child(4) {
    border: none;
    }

.header__row-col-social li:not(:last-child) {
    margin-right: 50px;
}

.header__row-col-social li:nth-child(1) {
    padding: 2px 0px 0px 2px;
    margin-top: 3px;
}

.header__row-col-social li:nth-child(2) {
    padding: 4px 0px 0px 9px;
    margin-top: 3px;
    margin-right: 51px;
}

@media screen and (max-width: 1199px) {

    .header-wrap {
        padding: 15px;
        height: auto;
    }

    .header__row-col-link {
        margin-left: 0;
    }

    .header__row-col {
        text-align: center;
		margin-top: 15px;
    }

    .header__row-col-social {
        justify-content: center;
        margin-right: 0px;
		margin-top: -15px;
        padding: 0;
    }
}

/*------------INTRODUCTION----------*/

.introduction__row-col-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
}

.introduction__row-col-menu li a {
text-transform: uppercase;
font-size: 18px;
font-family: "robotoregular", sans-serif;
color: #06bac5;
text-decoration: none;
}

.introduction__row-col-menu li a:hover {
    text-decoration: underline;
}

.introduction__row-col-menu li>.fas {
    color: #06bac5;
    font-size: 7px;
}

.introduction__row-col-menu {
    margin-top: 20px;
    margin-right: 62px;
    margin-left: 63px;
}

.introduction__row-col-menu>li:nth-child(2n) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.introduction__row-col-menu>li:nth-child(3) {
    margin-left: -9px;
}

@media  screen and (max-width: 1400px) {

    .introduction__row-col-menu {
        margin-top: 20px;
        margin-right: 40px;
        margin-left: 40px;
    }

    .introduction__row-col-menu>li:nth-child(3) {
        margin-left: 0px;
    }

    .introduction__row-col-menu>li:nth-child(2n) {
        margin: 0 7px;
    }
}

@media screen and (max-width: 1199px) {
    .introduction__row-col-menu {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 0;
    }
}


